<% unless user_signed_in? %>
 <%= link_to 'ログイン', new_user_session_path, method: :get %>
 <%= link_to '新規登録', new_user_registration_path, method: :get %>
<% else %>
<p></p>
 <h2>リスト一覧</h2>
  <% @lists.each.with_index(1) do |list, i| %>
  <div class="list-group">
   <button type="button" class="list-group-item list-group-item-action">
   <% if list.companies.present? %>
    <%= i %>.<%= link_to "#{list.name}（#{list.project_name}）", "/lists/#{list.id}/companies" %>　　　　　会社数：<%= list.companies.count %>社
   <% else %>
    <%= i %>.<%= link_to "#{list.name}（#{list.project_name}）", "/lists/#{list.id}/companies" %>　　　　　※登録がありません。
   <% end %>
   </button>
  </div>
  <% end %>
 <% end %>