<p></p>
    <%= form_for(@list) do |f| %>
        <%= f.label :project_name, "プロジェクト名", class:'col-md-3 col-form-label'  %>
    <div class="col-md-2">
　　    <%= f.text_field :project_name, :class => 'form-control' %>
　　</div>
　　    <%= f.label :name, "リスト名", class:'col-md-3 col-form-label' %>
　　<div class="col-md-2">
　　    <%= f.text_field :name, :class => 'form-control' %>
　　</div>
    <div class="actions">
        <%= f.submit "作成", :class => 'btn btn-primary' %>
    </div>
 <% end %>