<h2>履歴登録</h2>
<div class="form-group">
<%= form_for ([@list, @company, @contact]) do |f| %>
   <div class="field">
　　<%= f.label :created_at, "日付" %>
    <%= f.date_field :created_at, :class => 'form-control' %>
   </div>
  <div class="form-group">
   <div class="field">
    <%= f.label :result, "結果" %>
   </div>
   <div class="col-xs-10">
    <%= f.select :result, [["結果を選択する",""], ["提案合意","提案合意"], ["資料送付", "資料送付"], ["再TEL", "再TEL" ], ["お断り","お断り"], ["Gブロック","Gブロック"], ["かけない", "かけない" ]], {}, class: 'form-control', prompt: "結果を選択してください" %>
   </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2">
    　　<%= f.label :detail, "詳細" %>
    </div>
    <div class="col-xs-10">
        <%= f.text_field :detail, placeholder: "履歴を入力してください", :class => 'form-control' %>
    </div>
   </div>
   <div class="actions">
    <%= f.submit "登録", :class => 'btn btn-primary' %>
   </div>
 </div>
 <% end %>