<p></p>
<h3><%= @list.id %>.<%= @list.name %> リスト</h3>

<p><%= link_to 'リスト一覧へ', root_path %></p>
<%= form_tag import_list_companies_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
<div class="container">
  <table class="table table-bordered">
  <thead>
     <th>会社名</th>
     <th>担当者</th>
     <th>TEL日</th>
     <th>電話番号</th>
     <th>結果</th>
     <th>履歴</th>
     <th>SFA</th>
    </thead>
<% @companies.each do |company| %>
    <tr>
      <td id="<%= company.id %>"><%= link_to "#{company.name}", "/lists/#{company.list.id}/companies/#{company.id}" %></td>
      <% if company.contacts.present? %>
          <% company.contacts.last(1).each do |contact| %>
              <td><%= contact.person %></td>
              <td><%= contact.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= company.tell %></td>
              <td><%= contact.result %></td>
              <td><%= contact.detail %></td>
              <td><%= company.top_result %></td>
          <% end %>
      <% else %>
      <td></td>
      <td></td>
      <td><%= company.tell %></td>
      <td></td>
      <td></td>
      <td></td>
      <% end %>
    </tr>
  
<% end %>