<p></p>
<h4>会社名： <%= @company.name %></h2>
　　住所： <%= @company.adress %>
　　<p></p>
　　電話番号：<%= @company.tell %>
　　<p></p>
　　<%= link_to '編集', edit_list_company_path, method: :get, class: "btn btn-outline-primary btn-sm" %>
　　<%= link_to '削除',  "/lists/#{@list.id}/companies/#{@company.id}", method: :delete, class: "btn btn-outline-primary btn-sm"%>
<p></p>

 <%= link_to '履歴登録', "/lists/#{@list.id}/companies/#{@company.id}/contacts/new", method: :get, class: "btn btn-primary active" %>

<%= link_to '戻る', list_companies_path(anchor: "#{@company.id}"), class: "btn btn-primary active" %>
<p></p>
<h3>履歴一覧</h1>
<% @contacts.each do |contact| %>
<div class="container">
<table class="table.table-hover">
 <tbody>
   <tr>
      <th>担当者:　</th>
      <td><%= contact.user.name %></td>
   </tr>
   <tr>
        <th>結果:　</th> 
        <td><%= contact.result %></td>
   </tr>
   <tr>
    <th>詳細:　</th> 
    <td><%= contact.detail %></td>
   </tr>
   <tr>
    <th>日程:　</th> 
    <td><%= contact.created_at.strftime('%Y/%m/%d %H:%M') %></td>
   </tr>
   <tr>
     <td><%= link_to '編集', "/lists/#{@list.id}/companies/#{@company.id}/contacts/#{contact.id}/edit", method: :get, class: "btn btn-outline-primary btn-sm" %></td>
     <td><%= link_to '削除', "/lists/#{@list.id}/companies/#{@company.id}/contacts/#{contact.id}", method: :delete, class: "btn btn-outline-primary btn-sm" %></td>
   </tr>
   <tr>
    <th></th>
    <td>----------------------------------------------------------------</td>
   </tr>
   

</tbody>
</table>
</div>
<% end %>